<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos de Utilização do Site</title>


    <style>
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            color: #333;
        }

        .-termoscontainer {
            max-width: 800px;
            margin: 20px auto;
            padding: 30px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            font-size: 32px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 15px;
        }

        h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        h4 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 15px;
        }

        hr {
            border: none;
            border-top: 1px solid #ccc;
            margin: 20px 0;
        }
    </style>
</head>
<body>
    <div class="-termoscontainer">
        <h1>Termos de Utilização do Site</h1>

        <p>O Termo de utilização do <strong>www.rentall.com</strong> é parte importante para estabelecer uma relação de confiança com nossos clientes e atender as regras e expectativas entre os usuários e o nosso site.</p>
        <p>Nos preocupamos com sua segurança, mas para que nossos processos possam transcorrer normalmente é necessário o compartilhamento de informações com outros clientes previamente cadastrados.</p>
        <p>Informações como (definir as informações que serão compartilhadas). Buscamos uma relação transparente com nossos clientes e dedicamos especial atenção às normas de conformidade com regulamentações como a Lei Geral de Proteção de Dados (LGPD).</p>
        <p>Abaixo, você encontrará o termos de utilização do site, basta aceitá-lo para utilizar nossos serviços. Caso não concorde, entenderemos sua posição e estaremos aqui caso reconsidere sua posição.</p>

        <hr>

        <p>Equipe da <strong>Rent ALL</strong></p>

        <hr>

        <h2>1. Introdução</h2>
        <p>Bem-vindo ao <strong>www.rentall.com</strong>. Ao utilizar este site, você concorda com os termos e condições descritos neste documento. Certifique-se de ler atentamente os seguintes termos e aceitá-los antes de continuar a usar o site.</p>

        <hr>

        <h2>2. Coleta e Uso de Dados Pessoais</h2>
        <h4>2.1. Privacidade e LGPD</h4>
        <p>Nós valorizamos sua privacidade e cumprimos as disposições da LGPD no processamento de dados pessoais. Para entender como coletamos, usamos e protegemos suas informações, consulte nossa Política de Privacidade. (Inserir o link)</p>

        <hr>

        <h2>3. Consentimento para Coleta de Dados</h2>
        <h4>3.1. Acordo para Processamento</h4>
        <p>Ao utilizar nosso site, você concorda com a coleta, processamento, compartilhamento e armazenamento de dados pessoais de acordo com nossa Política de Privacidade.</p>

        <hr>

        <h2>4. Direitos dos Titulares dos Dados</h2>
        <h4>4.1. Acesso e Controle de Dados</h4>
        <p>Você tem o direito de acessar, retificar, excluir ou portar seus dados pessoais de acordo com os termos estabelecidos em nossa Política de Privacidade e na LGPD.</p>

        <hr>

        <h2>5. Uso de Cookies</h2>
        <h4>5.1. Aceitação de Cookies</h4>
        <p>Nosso site utiliza cookies para melhorar a experiência do usuário. Ao continuar a usar o site, você concorda com o uso de cookies. Para mais informações, consulte nossa Política de Cookies. (Inserir o link)</p>

        <hr>

        <h2>6. Conteúdo do Usuário</h2>
        <h4>6.1. Responsabilidade pelo Conteúdo</h4>
        <p>Ao enviar conteúdo para o nosso site, você concede permissão para sua exibição e uso de acordo com nossos termos. Você é responsável por garantir que o conteúdo enviado esteja em conformidade com a lei aplicável.</p>

        <hr>

        <h2>7. Propriedade Intelectual</h2>
        <h4>7.1. Direitos Autorais e Propriedade</h4>
        <p>Todo o conteúdo presente neste site, incluindo mas não se limitando a texto, imagens, vídeos e logotipos, é protegido por direitos autorais e outras leis de propriedade intelectual.</p>

        <hr>

        <h2>8. Alterações nos Termos de Utilização</h2>
        <h4>8.1. Modificações nos Termos</h4>
        <p>Reservamos o direito de alterar estes Termos de Utilização a qualquer momento. As alterações entrarão em vigor após a publicação no site. É sua responsabilidade revisar periodicamente estes termos para estar ciente das atualizações.</p>

        <hr>

        <h2>9. Jurisdição e Lei Aplicável</h2>
        <h4>9.1. Regulamentos Legais</h4>
        <p>Estes Termos de Utilização são regidos pelas leis do Brasil. Qualquer disputa relacionada a estes termos será submetida à jurisdição exclusiva dos tribunais competentes no Brasil.</p>

        <hr>

        <h2>10. Contato</h2>
        <h4>10.1. Informações de Contato</h4>
        <p>Se você tiver alguma dúvida ou preocupação sobre estes Termos de Utilização ou nossa conformidade com a LGPD, entre em contato conosco através da página (Sobre nós) ou em algum meio de contato anexado em nosso rodapé.</p>

        <hr>
    </div>



    <div class="footer-container">

        <div class="footer-content-2">
            <div>
                <i class="fa fa-map-marker"></i>
                <p>
                    <a href="https://goo.gl/maps/7QMZjZMJ355Z2Z9J6">
                        Visconde de Mauá, Resende - RJ
                    </a>
                </p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p>
                    <a href="mailto:rent.all.bn@gmail.com">
                        rent.all.bn@gmail.com
                    </a>
                </p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p><a href="tel:2499965669">(24)999656679</a></p>
            </div>
            <div>
                <i class="fa fa-whatsapp"></i>
                <p>
                    <a href="https://api.whatsapp.com/send?phone=5524999656679&text=Gostaria-de-mais-informações-sobre-serviço" target="_blank">
                        +55 24-999656679
                    </a>
                </p>
            </div>
        </div>


        <div class="footer-content-3">
            <p class="footer-empresa">
                <span>Sobre a Empresa</span>
                Uma empresa de tecnologia baseada em negócios relacionados a desenvolvimento de sistemas digitais, software e serviços.
            </p>
            <div class="footer-icons">

                <a href="https://github.com/RentAllBN"><i class="fa fa-github"></i></a>
                <a href="https://www.instagram.com/rent.all._/"><i class="fa fa-instagram"></i></a>
                <a href="https://twitter.com/RentAll_com"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/rent-all-0576ab268/"><i class="fa fa-linkedin"></i></a>

            </div>
            <hr>
            <p>©2023 Rent All Ltda.</p>
        </div>
        <div class="copyright">
            <hr>
            <p>©Copyright. Todos os direitos reservados.</p>
        </div>

    </div>

</body>




</html>