@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Redefinir Senha.";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Senha</title>
    <link rel="stylesheet" href="~/css/caditem.css" asp-append-version="true" />

</head>
<body>

    <!-- FORM HEADER -->
    <div class="card-it">

        <h1>Nova Senha </h1>

        <form id="card-it" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />



            <div class="form-group">
                <label asp-for="Input.Email" class="form-label">E-mail</label>
                <input asp-for="Input.Email" class="form-control" placeholder="Endereço de e-mail" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>




            <div class="form-group">
                <label asp-for="Input.Password" class="form-label">Senha</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Senha." />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.ConfirmPassword" class="form-label">Repita a Senha</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Repita a Senha." />     
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Redefinir</button>


        </form>
    </div>

</body>

<div class="footer-container">

    <div class="footer-content-2">
        <div>
            <i class="fa fa-map-marker"></i>
            <p>
                <a href="https://goo.gl/maps/7QMZjZMJ355Z2Z9J6">
                    Visconde de Mauá, Resende - RJ
                </a>
            </p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p>
                <a href="mailto:rent.all.bn@gmail.com">
                    rent.all.bn@gmail.com
                </a>
            </p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p><a href="tel:2499965669">(24)999656679</a></p>
        </div>
        <div>
            <i class="fa fa-whatsapp"></i>
            <p>
                <a href="https://api.whatsapp.com/send?phone=5524999656679&text=Gostaria-de-mais-informações-sobre-serviço" target="_blank">
                    +55 24-999656679
                </a>
            </p>
        </div>
    </div>


    <div class="footer-content-3">
        <p class="footer-empresa">
            <span>Sobre a Empresa</span>
            Uma empresa de tecnologia baseada em negócios relacionados a desenvolvimento de sistemas digitais, software e serviços.
        </p>
        <div class="footer-icons">

            <a href="https://github.com/RentAllBN"><i class="fa fa-github"></i></a>
            <a href="https://www.instagram.com/rent.all._/"><i class="fa fa-instagram"></i></a>
            <a href="https://twitter.com/RentAll_com"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/rent-all-0576ab268/"><i class="fa fa-linkedin"></i></a>

        </div>
        <hr>
        <p>©2023 Rent All Ltda.</p>
    </div>
    <div class="copyright">
        <hr>
        <p>©Copyright. Todos os direitos reservados.</p>
    </div>

</div>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
